nav .brand-logo {
    background: url(../images/logo-nodeblog-white.png) no-repeat;
    background-position: center;
    color: transparent;
    min-width: 136px;
    background-size: 136px;
    padding: 0 20px;
}